WindowsFormsApplication1/Service References/ServiceReference2/BLOOD_PRESSURE1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:54392/BLOOD_PRESSURE.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="measureBloodPressure">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_ssn" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_upper" type="xs:float" />
        <xs:element minOccurs="0" name="_lower" type="xs:float" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="measureBloodPressureResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="measureBloodPressureResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="trackBloodPressure">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_ssn" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="trackBloodPressureResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="trackBloodPressureResult" nillable="true" type="q1:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDietPlan">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_bloodPressureStatus" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDietPlanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="getDietPlanResult" nillable="true" type="q2:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="notifyUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="notify" type="xs:boolean" />
        <xs:element minOccurs="0" name="timeHour" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="cheakMail">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="cheakMailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cheakMailResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>