WindowsFormsApplication1/Service References/ServiceReference2/BLOOD_PRESSURE.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BLOOD_PRESSURE" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:54392/BLOOD_PRESSURE.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:54392/BLOOD_PRESSURE.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:54392/BLOOD_PRESSURE.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBLOOD_PRESSURE_measureBloodPressure_InputMessage">
    <wsdl:part name="parameters" element="tns:measureBloodPressure" />
  </wsdl:message>
  <wsdl:message name="IBLOOD_PRESSURE_measureBloodPressure_OutputMessage">
    <wsdl:part name="parameters" element="tns:measureBloodPressureResponse" />
  </wsdl:message>
  <wsdl:message name="IBLOOD_PRESSURE_trackBloodPressure_InputMessage">
    <wsdl:part name="parameters" element="tns:trackBloodPressure" />
  </wsdl:message>
  <wsdl:message name="IBLOOD_PRESSURE_trackBloodPressure_OutputMessage">
    <wsdl:part name="parameters" element="tns:trackBloodPressureResponse" />
  </wsdl:message>
  <wsdl:message name="IBLOOD_PRESSURE_getDietPlan_InputMessage">
    <wsdl:part name="parameters" element="tns:getDietPlan" />
  </wsdl:message>
  <wsdl:message name="IBLOOD_PRESSURE_getDietPlan_OutputMessage">
    <wsdl:part name="parameters" element="tns:getDietPlanResponse" />
  </wsdl:message>
  <wsdl:message name="IBLOOD_PRESSURE_notifyUser_InputMessage">
    <wsdl:part name="parameters" element="tns:notifyUser" />
  </wsdl:message>
  <wsdl:message name="IBLOOD_PRESSURE_cheakMail_InputMessage">
    <wsdl:part name="parameters" element="tns:cheakMail" />
  </wsdl:message>
  <wsdl:message name="IBLOOD_PRESSURE_cheakMail_OutputMessage">
    <wsdl:part name="parameters" element="tns:cheakMailResponse" />
  </wsdl:message>
  <wsdl:portType name="IBLOOD_PRESSURE">
    <wsdl:operation name="measureBloodPressure">
      <wsdl:input wsaw:Action="http://tempuri.org/IBLOOD_PRESSURE/measureBloodPressure" message="tns:IBLOOD_PRESSURE_measureBloodPressure_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBLOOD_PRESSURE/measureBloodPressureResponse" message="tns:IBLOOD_PRESSURE_measureBloodPressure_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="trackBloodPressure">
      <wsdl:input wsaw:Action="http://tempuri.org/IBLOOD_PRESSURE/trackBloodPressure" message="tns:IBLOOD_PRESSURE_trackBloodPressure_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBLOOD_PRESSURE/trackBloodPressureResponse" message="tns:IBLOOD_PRESSURE_trackBloodPressure_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getDietPlan">
      <wsdl:input wsaw:Action="http://tempuri.org/IBLOOD_PRESSURE/getDietPlan" message="tns:IBLOOD_PRESSURE_getDietPlan_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBLOOD_PRESSURE/getDietPlanResponse" message="tns:IBLOOD_PRESSURE_getDietPlan_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="notifyUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IBLOOD_PRESSURE/notifyUser" message="tns:IBLOOD_PRESSURE_notifyUser_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="cheakMail">
      <wsdl:input wsaw:Action="http://tempuri.org/IBLOOD_PRESSURE/cheakMail" message="tns:IBLOOD_PRESSURE_cheakMail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBLOOD_PRESSURE/cheakMailResponse" message="tns:IBLOOD_PRESSURE_cheakMail_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IBLOOD_PRESSURE" type="tns:IBLOOD_PRESSURE">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="measureBloodPressure">
      <soap:operation soapAction="http://tempuri.org/IBLOOD_PRESSURE/measureBloodPressure" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="trackBloodPressure">
      <soap:operation soapAction="http://tempuri.org/IBLOOD_PRESSURE/trackBloodPressure" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDietPlan">
      <soap:operation soapAction="http://tempuri.org/IBLOOD_PRESSURE/getDietPlan" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="notifyUser">
      <soap:operation soapAction="http://tempuri.org/IBLOOD_PRESSURE/notifyUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="cheakMail">
      <soap:operation soapAction="http://tempuri.org/IBLOOD_PRESSURE/cheakMail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BLOOD_PRESSURE">
    <wsdl:port name="BasicHttpBinding_IBLOOD_PRESSURE" binding="tns:BasicHttpBinding_IBLOOD_PRESSURE">
      <soap:address location="http://localhost:54392/BLOOD_PRESSURE.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>